<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.SfChart.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.SfDiagram.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="20.1.0.59" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.1.0.59" targetFramework="net48" />
</packages>